html, body, div, ul, li, pre, p, h5, a {
    margin: 0;
    padding: 0;
    color: white;
}

html, body {
    height: 100%;
    background: #1e1e1e;
}


.page-wrapper {
    height: 100%;
}

.info-link {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    position: fixed;
    text-decoration: none;
    right: 20px;
}

.news,
.categories {
    padding: 10px 10px 10px 30px;
}

.categories {
    padding-bottom: 15px;
}
.categories li {
    display: inline-block;
    margin-right: 20px;
}

.categories li.selected a {
    color: yellow;
}

.news h5 {
    margin-bottom: 5px;
}

.news li {
    margin-top: 25px;
}

.news li:first-child {
    padding-top: 0;
    margin-top: 0;
}

.news p,
.news a,
.categories a,
.info-link {
    font: 12pt sans-serif, arial;
}